@model IEnumerable<PATHHEALTHY.Models.Producto>

@{
  ViewData["Title"] = "Catalogo";
}

<section id="catalogue" class="catalogue">

  <div class="container">
    <div class="section-title">
      <h2 data-aos="fade-in">Nuestros Productos</h2>

    </div>
    <h1>@ViewData["Message"]</h1>
    <div class="row">
      <div class="col">
        <div id="products" class="mb-3">
          <div class="row">
            @foreach (var item in Model)
            {
              <div class="col-lg-4 catalogue-item filter-app">
                <div style="text-align:center;">
                  <img class="card-img-top" height="350" src="@item.ImagenNombre" alt="@item.ImagenNombre" />
                </div>

                <div class="catalogo" style="height: 200px;background-image: radial-gradient(circle at 0% 0%, #f5c962 0, #ecbb52 50%, #e3ad42 100%);">
                  <div style="text-align:center;" class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Nombre)</h5>
                    <p class="card-text">Precio: S/.@Html.DisplayFor(modelItem => item.Precio)</p>
                    <div style="margin-top: 30px;">

                      <div class="col" style="text-align: center;">
                        <a class="btn btn-light" asp-action="Add2" asp-route-id="@item.Id">Agregar</a>
                        <a class="btn btn-light" asp-action="Details2" asp-route-id="@item.Id">Detalle</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            }

</section>
